<div class="header" >
  <div class="text"><h1> Picto-Puzzler </h1><%= link_to 'New Picture', new_picture_path %></div>
</div>



<div class="gallery" >
  <% @pictures.each do |picture| %>

    <div class="links">
      <%= image_tag picture.url %>
      <div class="footer-link">
        <%= link_to 'Puzzler', picture, class: "white-link" %>
        <%= link_to 'Edit', edit_picture_path(picture), class: "white-link" %>
        <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "white-link" %>
      </div>
    </div>
  <% end %>
</div>
