<style media="screen">
  #newmyModal input {
    color: black;
  }
</style>
<div class="header" >
  <div class="text"><h1> Picto-Puzzler </h1>
    <%= link_to 'New Picture', "#newmyModal", class: "white-link", data: { toggle: "modal" } %>
    <div class="modal fade" id="newmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background:#2C2F34;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body" style="background:#2C2F34;">
            <%= render 'form', picture: Picture.new, make_ajax: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="gallery" >
  <% @pictures.each_with_index do |picture, ix| %>
    <!-- Modal -->
    <div class="modal fade" id="myModal<%= ix %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">
            <%= render 'form', picture: picture, make_ajax: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="links">
      <%= image_tag picture.url %>
      <div class="footer-link">
        <%= link_to 'Puzzler', picture, class: "white-link" %>
        <%= link_to 'Edit', "#myModal#{ix}", class: "white-link", data: { toggle: "modal" } %>
        <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "white-link" %>
      </div>
    </div>
  <% end %>
</div>
