<div class="header" >
<h1>Listing pictures</h1>
<%= link_to 'New Picture', new_picture_path %>
</div>


  <div class="gallery" >
    <% @pictures.each do |picture| %>
      <div class="li">
        <%= image_tag picture.url %>
      </div>
      <div class="">
        <%= link_to 'Show', picture %>
        <%= link_to 'Edit', edit_picture_path(picture) %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
</div>
