<p id="notice"><%= notice %></p>

<div class="show_header" >
  <h1> <%= @picture.title %> </h1>
</div>



  <div class="jqPuzzle">
    <%= image_tag @picture.url, :class => "jqPuzzle"%>
  </div>



<!-- <div id="root"></div> -->

<div class="jqPuzzle" >
  <p>
    <%= link_to 'Edit Picture', edit_picture_path(@picture) %>
    <%= link_to 'Back to Photo Wall', pictures_path %> </p>
</div>
